export(compute_gini)
export(compute_hhi)
export(compute_tmi)
export(top_share)
export(monopoly_status)
export(score_monopoly)
export(query_gene)
export(get_top_monopoly)
export(theme_monopoly)
export(monopoly_palette)
export(plot_tmi_ridge)
export(plot_state_curve)
export(plot_carrier_matrix)
export(plot_gene_card)
export(plot_headroom)
export(plot_competence)
export(plot_pathway_atlas)
export(plot_dependency_boundary)
export(export_pdf)
export(simulate_share_null)
export(carrier_dominance)
export(morans_i_perm)
export(atlas_version)
export(query_scrna)
export(plot_scrna_dominance)
S3method(print,atlasMeta)
importFrom(stats, median, quantile, reorder)
importFrom(utils, data)
importFrom(methods, is)
importFrom(rlang, .data)
