export(compute_HHI)
export(compute_Gini)
export(compute_TMI)
export(get_top_monopoly)
export(launch_shiny)
export(plot_gene)
export(query_gene)
export(score_monopoly)
S3method(plot,monopolyResult)
S3method(print,monopolyResult)
